* {
    margin: 0;
    padding: 0;
    font-family: Lato;
}

/* start header section */
.header {
    background: rgba(229, 84, 115, 0.10);
    /* height: 100vh: */
}


.banner {
    display: flex;
    justify-content: space-around;
    align-items: center;

}



.banner .flower {
    width: 635px;
    height: 800px;
    padding-right: 240px;
    padding-top: 50px;

}

.banner-content {
    text-align: left;
    padding-left: 240px;
}

.banner-title {
    color: #272727;

    font-size: 70px;
    font-weight: 800;
    padding-top: 20px;


}

.banner-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    line-height: 30px;
    padding-top: 36px;
    padding-bottom: 36px;
    padding-right: 170px;
}


/* Button section */
.btn-primary {


    border: 0;
    font-size: 20px;
    color: white;
    border-radius: 8px;
    background: #E55473;
    padding: 20px 43px;

}

